body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* .bg_image
{
    display: flex;
    position: relative;
    left: 0%;
    top: 0%;
    background-repeat: none;

 
    height: 100%;
} */

.bg_image {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('path/to/your/image.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}


#container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    /* box-shadow: 0px 0px 10px rgba(185, 227, 226, 0.1); */
    /* border-radius: 5px; */
    display: flex;
    position: absolute;
    top: 10%;
    left: 18%;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#citySelector {
    display: flex;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    /* border: 1px solid #e9eae3; */
    /* border-radius: 5px; */
    background-color: transparent;
    margin-bottom: 10px;
}

#fetchWeather {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    /* border: none; */
    /* border-radius: 5px; */
    background-color: transparent;
    color:transparent;
    cursor: pointer;
}

#fetchWeather:hover {
    background-color: #5f5a89;
}

#weatherDisplay {
    padding: 20px;
    margin-top: 20px;
    /* border-radius: 5px; */
    background-color: transparent;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

img.weather-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
